<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <title>EduInsight</title>
  <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
  <style>
    .custom-font {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    a.nav-link {
      background-color: #f8f9fa;
      color: black;
    }

    a.nav-link:hover {
      background-color: rgb(100, 178, 237);
      color: white;
    }
  </style>
</head>

<body>
  <!-- #header -->
  <header class="container-fluid py-2 bg-info">
    <div class="row px-1 py-1">
      <div class="col-2 d-flex flex-row justify-content-between align-items-center">
        <img class="img-fluid w-25 me-3" src="{{ url_for('static', filename='logo.png') }}" alt="EduInsight-logo">
        <span class="text-white fs-2 fw-bold">EduInsight</span>
      </div>
    </div>
  </header>
  <!-- #Content -->
  <div class="container-fluid row m-0 p-0">
    <div class="container-fluid d-flex col-2 m-0 p-0 bg-light border-end"> <!-- #Nav -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link fw-bold" href="{{ url_for('home') }}">Video watching frequency distribution</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="{{ url_for('cluster') }}">Clustering</a>
        </li>
      </ul>
    </div>
    <div class="container-fluid d-flex flex-column col-10 m-0 p-5 bg-white"> <!-- #Chart & detail -->
      <div class="d-flex flex-row justify-content-end">
        <input type="text" class="form-control w-50 me-2" id="input-data-source" placeholder="Select data source">
        <button type="button" class="btn btn-info">Show chart</button>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center p-3">
        <canvas id="myChart" width="300" height="120" aria-label="Hello ARIA World" role="img"></canvas>
      </div>
      <div class="border-top my-4"></div>
      <div class="d-flex flex-row justify-content-end">
        <select class="form-select w-50 me-2" aria-label="Detail category">
          <option selected>Select cluster</option>
          <option value="1">Cluster 1</option>
          <option value="2">Cluster 2</option>
          <option value="3">Cluster 3</option>
        </select>
        <button type="button" class="btn btn-info">Show cluster detail</button>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center px-3 py-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Gender</th>
              <th scope="col">Views count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- #Footer -->
  <footer class="container-fluid bg-info py-3">
    <div class="row px-1 py-1">
      <div class="col-10 d-flex flex-row justify-content-end align-items-center">
        <span class="text-dark fs-3 fw-bold custom-font">CS313.O21</span>
      </div>
      <div class="col-2 d-flex flex-row justify-content-center align-items-center">
        <span class="text-dark fs-3 fw-bold custom-font">Group 1</span>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

  <script>
    const clusters = {{ clusters | tojson }};
    // Dữ liệu
    const data = {
      datasets: [{
        label: 'Scatter Red',
        data: clusters[0],
        backgroundColor: 'rgba(255, 0, 0, 0.5)', // Màu nền
        borderColor: 'rgb(255, 0, 0)', // Màu viền
        borderWidth: 1 // Độ dày viền
      }, {
        label: 'Scatter Blue',
        data: clusters[1],
        backgroundColor: 'rgba(0, 0, 255, 0.5)', // Màu nền
        borderColor: 'rgb(0, 0, 255)', // Màu viền
        borderWidth: 1 // Độ dày viền
      }, {
        label: 'Scatter Green',
        data: clusters[2],
        backgroundColor: 'rgba(0, 255, 0, 0.5)', // Màu nền
        borderColor: 'rgb(0, 255, 0)', // Màu viền
        borderWidth: 1 // Độ dày viền
      }]
    };

    // Cấu hình
    const config = {
      type: 'scatter',
      data: data,
      options: {
        plugins: {
          datalabels: {
            anchor: 'end', // Vị trí neo của nhãn
            align: 'end', // Căn chỉnh nhãn
            color: '#333333', // Màu chữ
            font: {
              size: 14
            },
            formatter: function (value, context) {
              return value; // Hiển thị giá trị y
            }
          },
          legend: {
            position: 'right',
            align: 'center'
          },
          title: {
            display: true,
            text: 'Clustering Result',
            font: {
              size: 26
            }
          }
        },
        scales: {
          x: {
            type: 'linear', // Loại trục x là linear
            position: 'bottom'
          },
          y: {
            type: 'linear', // Loại trục y là linear
            position: 'left'
          }
        }
      }
    };

    // Vẽ biểu đồ
    var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>

</body>

</html>